h1 {
    border: none;
}

small {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

table {
    border-collapse: collapse;
    border: none !important;
}

th, td, tr {
    border: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

